// Flex
@mixin flex($direction, $align, $justify, $gap) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
	gap: $gap;
}

// Largura da tela do maior para o menor
@mixin maxwidth($maxwidth) {
	@media (max-width: $maxwidth) {
		@content;
	}
}

// Largura da tela do menor para o maior
@mixin minwidth($minwidth) {
	@media (min-width: $minwidth) {
		@content;
	}
}

// With Breakpoints
$breakpoints: (
	wide: 2400px,
	desktop: 1400px,
	laptop: 1366px,
	laptop-hd: 1280px,
	tablet-landscape: 1200px,
	tablet-portrait: 1024px,
	mobile-landscape: 880px,
	mobile-portrait: 767px,
	mobile-small: 480px,
);

@mixin responsive($breakpoint-name) {
	@if map-has-key($breakpoints, $breakpoint-name) {
		@media (max-width: map-get($breakpoints, $breakpoint-name)) {
			@content;
		}
	} @else {
		@warn "Este breakpoint que foi definido não existe!";
	}

	/*
		Como executar o breakpoint.
		@include responsive(laptop) {
			color: red;
		}
		@include responsive(tablet) {
			color: blue;
		}
		@include responsive(mobile) {
			color: yellow;
		}
	*/
}

// Tipografia
@mixin desktop-display-large() {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin desktop-display() {
	font-size: 4.8rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin desktop-h1() {
	font-size: 3.6rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin desktop-h2() {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin desktop-h3() {
	font-size: 2.8rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin desktop-h4() {
	font-size: 2.4rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin desktop-h5() {
	font-size: 2rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin desktop-h6() {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

// tablet
@mixin tablet-display-large() {
	font-size: 4.8rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin tablet-display() {
	font-size: 4rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin tablet-h1() {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin tablet-h2() {
	font-size: 2.8rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin tablet-h3() {
	font-size: 2.4rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin tablet-h4() {
	font-size: 2rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin tablet-h5() {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin tablet-h6() {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

// mobile
@mixin mobile-display-large() {
	font-size: 4rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin mobile-display() {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin mobile-h1() {
	font-size: 2.8rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin mobile-h2() {
	font-size: 2.4rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin mobile-h3() {
	font-size: 2rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin mobile-h4() {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin mobile-h5() {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin mobile-h6() {
	font-size: 1.4rem;
	font-weight: 700;
	line-height: $line-height-heading;
}

@mixin mobile-p() {
	font-size: 1.4rem;
}
